= render partial: "application/header"
= render partial: "application/gallery"
= render partial: "application/buttons"
= render partial: "application/inputs"
= render partial: "application/selects"
= render partial: "application/checkboxes"
= render partial: "application/labels_and_badges"
= render partial: "application/bubbles"
= render partial: "application/menus"
= render partial: "application/tabs"
= render partial: "application/widgets"
= render partial: "application/paginations"
= render partial: "application/datepickers"
= render partial: "application/commutators"
