= render partial: "application/buttons"
= render partial: "application/inputs"
= render partial: "application/checkboxes"
= render partial: "application/labels_and_badges"
= render partial: "application/bubbles"
= render partial: "application/menus"
= render partial: "application/tabs"
