= render partial: "application/buttons"
= render partial: "application/text_inputs"
= render partial: "application/checkboxes"
= render partial: "application/labels_and_badges"
= render partial: "application/bricks_bubbles"
